{% extends 'base.html'%} {% block content %}
<div class="homeDiv">
  <div class="row justify-content-center register">
    <div class="col-md-8">
      <div class="row profile">
        <!--Display profile photo-->
        <div class="col-md-4 profPicSize">
          {% if user.profile_pic_path %}
          <img
            src="{{url_for('static',filename=user.profile_pic_path)}}"
            alt=""
            class="img-thumbnail rounded-circle"
          />
          {%else%}
          <img
            class="img-thumbnail"
            style="background-color: transparent; border: none;"
            src="{{url_for('static',filename='images/defaultProfPic.png')}}"
            alt="Prof Pic"
          />
          {% endif %}
        </div>

        <div class="col-md-5">
          <!-- displaying username -->

          <h3>{{ user.username | capitalize }}</h3>

          <!--Displaying user bio-->
          {% if user.bio %}
          <p>{{ user.bio }}</p>
          {%else%}
          <p>{{ user.username | capitalize }} has no bio yet</p>
          {% endif %}

          <div>
            <!-- update bio -->
            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}"
              >Edit my profile</a
            >
            {% endif %}

            <!-- upload prof pic -->

            {% if user == current_user %}
            <form
              action="{{url_for('main.update_pic',uname=user.username)}}"
              method="post"
              enctype="multipart/form-data"
            >
              <input type="file" name="photo" class="form-control" required />
              <input type="submit" />
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
