.homeHeading {
    font-family: 'Tangerine', cursive;
    margin-bottom: 3vh;
    font-weight: bold;
}

.homeDiv {
    margin-left: 45vh;
    margin-right: 30px;
}

.sidebar {
    position: fixed;
    background-color: #111;
    margin: 0;
    padding-top: 5vh;
    margin-right: 20px;
    overflow: auto;
    height: 100%;
    width: 42vh;
    margin-left: -20px;
}

.sidebar a {
    padding: 0px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    color: #cdfa07;
}

.subMenu {
    background-color: #141414;
    color: #fff;
    padding: 5px 10px 15px 17px;
}

#topics li a:hover {
    color: #cdfa07;
    background-color: #111;
}

.grayBackground {
    background-color: #7c7979;
}

.blackBackground {
    background-color: #111;
}

.card {
    margin-bottom: 3vh;
}

.spaceLeft {
    margin-left: 25%;
}

.sharePost,
.register {
    margin-top: 7vh;
}

.errorPgh {
    font-family: 'Philosopher', sans-serif;
}

.profile {
    margin-top: 3vh;
}

.profile input {
    background-color: #c4c2c2;
    color: #000;
    margin-top: 3vh;
    border-radius: 8px;
}

.profPicSize {
    object-fit: cover;
    overflow: hidden;
    display: block;
}

.profPicSize img {
    max-width: 100%;
    max-height: 100%;
}

.posts {
    font-family: 'Philosopher', sans-serif;
    font-size: 3vh;
    margin-bottom: 5vh;
}

.comments {
    color: blue;
    text-decoration: underline;
    text-decoration-style: solid;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}