{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block
content %}

<div class="homeDiv">
  <div class="">
    <h3 class="homeHeading display-3">Blog Busters</h3>

    <div class="card">
      <div class="card-header">
          Random Quote
      </div>
      <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{quote.quote}}</p>
            <footer class="blockquote-footer">
              {{quote.author}} <cite title="Source Title"> sourced from: {{quote.permalink}}</cite>
            </footer>
          </blockquote>
        </div>
    </div>
  </div>

  <!-- blog posts -->
  <div class="row justify-content-center">
    
    <div class="col-md-10">
        <h4 class="lead sharePost">
            <strong>Share your Blogs below...</strong>
          </h4>
      {{ wtf.quick_form(SharePostForm) }}
    </div>
  </div>

</div>
{% endblock %}

